VITE_SUPABASE_URL="https://epjijvubtvxfiyibafkb.supabase.co"
VITE_SUPABASE_ANON="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwamlqdnVidHZ4Zml5aWJhZmtiIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NzAxNjIyOTksImV4cCI6MTk4NTczODI5OX0.zwai3LA5vhM7QHgdqd4wGu62lZ3D2xHmqEs1E_gujSg"
VITE_SUPABASE_FUNCTION="https://epjijvubtvxfiyibafkb.functions.supabase.co"